@font-face {
	font-family: "MarkerFelt";
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/MarkerFelt.woff2) format("woff2"),
		url(../fonts/MarkerFelt.woff) format("woff");
}

@font-face {
	font-family: "Marvin";
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Marvin.woff2) format("woff2"),
		url(../fonts/Marvin.woff) format("woff");
}

main {
	height: 100%;
	font-family: "MarkerFelt", sans-serif;
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
	min-width: 320px;
	// временное значение
	max-width: 768px;
	// временное значение
	overflow-x: hidden;
	.container {
		max-width: 744px;
		margin: 0 auto;
		text-align: center;
		padding: 0 12px;
	}
}
main.lock {
	overflow: hidden;
}

section{
	background-color: #9ec7e0;
}

.header {
	background-color: #00acc4;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #00acc4;
		z-index: 2;
		border-bottom: 3px solid #fff;
	}
	.container {
		position: relative;
		display: flex;
		padding: 0 15px;
		align-items: center;
		height: 65px;
		.header__logo {
			margin: 0 auto;
			position: relative;
			z-index: 3;
			flex: 0 0 90px;
			.header__logo-img {
				width: 100%;
			}
		}
	}
}

.menu__container {
	display: flex;
	.menu__icon {
		position: relative;
		width: 50px;
		height: 20px;
		position: relative;
		z-index: 3;
		span {
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			top: 9px;
		}
		&::before,
		&::after {
			content: "";
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s ease;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
	}
	.menu__icon.active span {
		transform: scale(0);
	}
	.menu__icon.active::before {
		transform: rotate(45deg);
		top: 9px;
	}
	.menu__icon.active::after {
		transform: rotate(-45deg);
		bottom: 8px;
	}

	.nav {
		position: fixed;
		top: -100%;
		left: 0;
		width: 75%;
		height: 75%;
		background-color: #00acc4;
		padding: 100px 15px 0 15px;
		border: 3px solid #fff;
		border-radius: 30px;
		transition: all 0.5s ease;
		overflow: auto;
		.nav__list {
			.nav__list-item {
				text-align: center;
				margin: 0 0 40px 0;
				min-width: 250px;

			}
			.nav__item-link {
				display: block;
				font-family: "Marvin", sans-serif;
				border: 3px dashed #fff;
				border-radius: 30px;
				font-size: 18px;
				color: #fff;
				line-height: 60px;
				margin: auto;
				width: 100%;
				height: 66px;
			}
			.twostring{
				padding: 10px 0 0 0;
				line-height: 20px;
			}
		}
	}
	.nav.active {
		top: 0;
	}
}


.first__section {
	padding-top: 65px;
	.container {
		padding: 20px 12px;
		
		.first__section-txt {
			font-family: "Marvin", sans-serif;
			color: #fff;
			line-height: 20px;
			font-size: 20px;
		}
		.first__section-img {
			margin: 20px 0;
			width: 300px;
		}
		.section__title {
			color: #00719e;
			font-size: 25px;
			text-transform: uppercase;
			border: 2px dashed #fff;
			border-radius: 25px;
			line-height: 45px;
			margin-bottom: 15px;
		}
		.value {
			text-align: center;
			font-weight: bold;
			font-size: 30px;
			color: #fff;
			width: 85px;
			height: 45px;
			background-color: #00acc4;
			border: 3px solid #fff;
			border-radius: 10px;
			line-height: 45px;
			margin: 10px auto;
		}
		.age{
			padding: 0 0 15px 0;
			margin: 0 auto;
			width: 240px;
			color: #fff;
			font-size: 20px;
			display: flex;
			justify-content: space-between;
		}
		input[type="range"] {
			display: block;
			-webkit-appearance: none;
			background-color: #ca94b3;
			width: 200px;
			height: 30px;
			border-top: 2px solid #fff;
			border-bottom: 2px solid #fff;
			border-left: 2px;
			border-radius: 10px;
			margin: 0 auto;
			outline: 0;
			&::before,
			&::after {
				content: "";
				border: 1px solid #fff;
				padding: 10px 0 20px 0;
			}
		}
		input[type="range"]::-webkit-slider-thumb {
			-webkit-appearance: none;
			background-color: #fff;
			width: 8px;
			height: 45px;
			border-radius: 15%;
			cursor: pointer;
			transition: 0.3s ease-in-out;
			margin: 0 5px 0 5px;
		}
	}
}
.counter__value {
	background-color: #fff;
    padding: 15px 0;
	.container {
		.wrapper {
			display: flex;
			justify-content: center;
		}
		.product {
			background-color: #ca94b3;
			width: 40%;
			border-radius: 10px;
			margin: 0 10px 10px 0;
			img {
				width: 100%;
				margin: 35px auto;
				filter: drop-shadow(8px 5px 3px rgba(0, 0, 0, 0.7));
			}
		}
		.tab {
			padding: 10px 30px;
			background-color: #00acc4;
			border-radius: 10px;
			color: #fff;
			font-size: 20px;
			margin: 0 0 10px 0;
			.value {
				border: 2px dashed #fff;
				border-radius: 10px;
				padding: 7px 0;
				margin: 7px 10px;
			}
		}
		.value__wrapper {
			display: flex;
			.tab__item {
				padding-top: 10px;
				width: 45%;
				margin: 0 auto;
				.valeu__subname {
					font-size: 15px;
				}
			}
		}
        .btn{
            display: block;
            text-transform: uppercase;
            color: #fff;
            font-size: 22px;
            background-color: #00acc4;
            border-radius: 10px;
            padding: 10px 0;
        }
	}
}

.offer__section{
	padding: 15px 0;
	.container{
		.offer{
			background-color: #fff;
			border: 4px solid #ffce00;
			border-radius: 25px;
			padding: 10px;
			color: #00719e;
			margin-bottom: 20px;
			font-size: 20px;
			.offer__title{
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			.offer__txt{
				padding-top: 10px;
				border-top: 4px solid #00719e;

			}
		}
		.descrip{
			margin: 8px 0;
			color: #fff;
			font-size: 20px;
			.descrip__title{
				position: relative;
				padding: 10px 7px;
				line-height: 23px;
				background-color: #ca94b3;
				border: 4px solid #fff;
				border-bottom: 2px solid #fff;
				border-radius: 10px;
				span{
					text-transform: uppercase;
				}
				&::after, &::before {
					top: 100%;
					left: 50%;
					border: solid transparent;
					content: "";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}
				&::after {
					border-color: rgba(202, 148, 179, 0);
					border-top-color: #ca94b3;
					border-width: 9px;
					margin-left: -9px;
				}
				&::before {
					border-color: rgba(255, 255, 255, 0);
					border-top-color: #fff;
					border-width: 15px;
					margin-left: -15px;
				}
			}
			.descrip__txt{
				padding: 12px 7px;
				line-height: 20px;
				background-color: #ca94b3;
				border: 4px solid #fff;
				border-top: 2px solid #fff;
				border-radius: 10px;
			}
		}
		.warning{
			.warning__txt{
				color: #fff;
				margin: 20px 0;
				line-height: 22px;
				font-size: 20px;
				span{
					text-transform: uppercase;
				}
			}
		}
	}
}
.shop{
	.container{
		.shop__title{
			border: 2px dashed #fff;
			border-radius: 15px;
			margin-bottom: 15px;
			padding: 8px 0;
			.section__title {
				color: #00719e;
				font-size: 20px;
				text-transform: uppercase;
				line-height: 24px;
			}
		}
		.shop__wrapper{
			display: flex;
			align-items: center;
			.card{
				margin-left: 10px;
				&:first-child{
					margin-left: 0;
				}
				.card__wrapper{
					background-color: #fff;
					border-radius: 15px;
					padding: 0 0 3px 0;
					font-size: 16px;
					.card__top{
						border: 2px solid #fff;
						border-radius: 15px;
						padding: 3px 0;
						.card__title{
							color: #fff;
						}
					}
					.card__top.blue{
						background-color: #00acc4;
					}
					.card__top.pink{
						background-color: #ca94b3;
					}
					.card__top.green{
						background-color: #45a880;
					}
					.card__img{
						width: 100%;
						filter: drop-shadow(8px 5px 3px rgba(0, 0, 0, 0.7));
						padding: 7px;
					}
					.card__btn{
						display: block;
						color: #0071a2;
						border: 2px dashed #0071a2;
						border-radius: 30px;
						padding: 2px 0;
						margin: 5px;
					}
				}
				.buy__btn{
					display: block;
					color: #fff;
					font-size: 18px;
					border: 2px solid #fff;
					border-radius: 10px;
					padding: 5px 0;
					margin: 10px 0;
					text-transform: uppercase;
				}
				.buy__btn.blue{
					background-color: #00acc4;
				}
				.buy__btn.pink{
					background-color: #ca94b3;
				}
				.buy__btn.green{
					background-color: #45a880;
				}
			}
		}
	}
}

.instruction{
	.container{
		padding: 0;
	}
	.instruction__txt{
		margin-bottom: 10px;
		padding: 0 40px;
		h2, p{
			color: #00719e;
			line-height: 22px;
			font-size: 18px;
		}
	}
	.instruction__wrapper{
		img{
			width: 100%;
		}
		table {
			background-color: #d5bccb;
			color: #195a76;
			border-spacing: 5px;
			font-size: 18px;
			th, td {
				padding: 5px 2px; 
				background-color: #fff;
				border-radius: 10px;
			}
		}
	}
}

.how__to{
	padding: 10px 0;
	.container{
		.how__to-wrapper{
			position: relative;
			display: flex;
			flex-direction:column;
		}
		.bg{
			.vector{
				position: absolute;
				top: 20px;
				left: -30%;
			}
		}
		.how__to-item{
			display: flex;
			align-items: center;
			img{
				margin: 18px 0;
				position: relative;
			}
			.txt{
				p{
					color: #195a76;
					text-align: left;
					padding: 10px 15px;
					font-size: 18px;
					span{
						color: #fff;
					}
				}
			}
		}
		.video {
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 56.25%;
			background-color: #000000;
		}
		
		.video__link {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		
		.video__media {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: none;
		}
		
		.video__button {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			display: none;
			padding: 0;
			width: 68px;
			height: 48px;
			border: none;
			background-color: transparent;
			transform: translate(-50%, -50%);
			cursor: pointer;
		}
		
		.video__button-shape {
			fill: #212121;
			fill-opacity: 0.8;
		}
		
		.video__button-icon {
			fill: #ffffff;
		}
		
		.video__button:focus {
			outline: none;
		}
		
		.video:hover .video__button-shape,
		.video__button:focus .video__button-shape {
			fill: #ff0000;
			fill-opacity: 1;
		}
		
		
		.video--enabled {
			cursor: pointer;
		}
		
		.video--enabled .video__button {
			display: block;
		}
		.disclaimer{
			p{
				color: #00719e;
				padding: 10px 0;
				line-height: 22px;
				font-size: 20px;
			}
		}
	}
}
